@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BitBit";
  src: url("/src/font/DNFBitBitTTF.ttf");
}
@font-face {
  font-family: "Neo1";
  src: url("/src/font/NanumSquareNeo-aLt.ttf");
}
@font-face {
  font-family: "Neo2";
  src: url("/src/font/NanumSquareNeo-bRg.ttf");
}
@font-face {
  font-family: "Neo3";
  src: url("/src/font/NanumSquareNeo-cBd.ttf");
}
@font-face {
  font-family: "Neo4";
  src: url("/src/font/NanumSquareNeo-dEb.ttf");
}
@font-face {
  font-family: "Neo5";
  src: url("/src/font/NanumSquareNeo-eHv.ttf");
}

@layer base {
  .font-outline-1 {
    -webkit-text-stroke: 1px black;
  }
  .font-outline-2 {
    -webkit-text-stroke: 2px black;
  }
}
